[submodule "kernel/limine-zig"]
	path = kernel/limine-zig
	url = https://github.com/limine-bootloader/limine-zig.git
[submodule "kernel/uacpi"]
	path = kernel/uacpi
	url = https://github.com/UltraOS/uACPI.git
[submodule "kernel/flanterm"]
	path = kernel/flanterm
	url = https://github.com/mintsuki/flanterm.git
[submodule "kernel/nanoprintf"]
	path = kernel/nanoprintf
	url = https://github.com/charlesnicholson/nanoprintf.git
