[submodule "kernel/limine-zig"]
	path = kernel/limine-zig
	url = https://github.com/limine-bootloader/limine-zig.git
[submodule "kernel/uacpi"]
	path = kernel/uacpi
	url = https://github.com/UltraOS/uACPI.git
[submodule "kernel/printf"]
	path = kernel/printf
	url = https://github.com/eyalroz/printf
[submodule "kernel/flanterm"]
	path = kernel/flanterm
	url = https://github.com/mintsuki/flanterm.git
